.footer {
    background-color: #66664d;
    color: #ddc27b;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    p {
      color: #fff;
    }
  }